.data-table {
    position: fixed;
    border-collapse: collapse;
    width: 100%;
    left: 200px;
    top: 80px;
    width: 85%;
  }
  
  .data-table th,
  .data-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }
  
  #edit{
    background-color: #0047AB;
    border-color: #0047AB;
  }

  #delete{
    background-color:  #ec2929 ;
    border-color: #ec2929;
    margin-left: 10px;
  }

